<div class="container">
<h1>Issa Site Assignment</h1>
<p data-sly-use.model="it.codeland.academy.core.models.Day13">
  Description: ${model.description}
</p>
  <div
          data-sly-resource="${'slider' @resourceType='/apps/academy-issa/components/content/slider'}"
  ></div>

  <div class="row mt-3 productsList">
  </div>
  </div>
</div>
<sly
        data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
        data-sly-call="${clientlib.all @ categories=['academy-issa.base']}"
></sly>